.background{
 background: url('giphy.gif');
 background-size: 150%;
 background-repeat: no-repeat;
 font-size: 36px;
 text-align: center;
 position: relative;


}

.submit{
  border: thin solid black;
  border-radius: 100%;
  background: url("bballBground.jpg");
  height: 400px;
  width: 50%;
  margin: 25%;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  
}